@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap");

@layer utilities {
    .heading__xxl {
        @apply font-outfit font-bold text-[60px] tracking-[2.5px];
    }
    .heading__xl {
        @apply font-outfit font-bold text-[50px] tracking-[2.5px];
    }
    .heading__l {
        @apply font-outfit font-bold text-[40px] tracking-[2.5px];
    }
    .heading__m {
        @apply font-outfit font-bold text-[24px] tracking-[1.5px];
    }
    .heading__S {
        @apply font-outfit font-bold text-[20px] tracking-[1.25px];
    }
    .heading__xs {
        @apply font-outfit font-bold text-[16px] tracking-[1px];
    }
    .body__l {
        @apply font-outfit font-medium text-[20px] tracking-[1.5px];
    }
    .body__m {
        @apply font-outfit font-medium text-[14px] tracking-[0.8px];
    }
    .body__s {
        @apply font-outfit font-normal text-[14px] tracking-[0.6px];
    }
}

.mainContent {
    @apply bg-darkBlue h-[100vh];
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.react-pdf__Page__canvas {
    @apply !w-[100%] !h-auto m-auto;
}
